on: [push, pull_request]
name: CI
jobs:
  test:
    strategy:
      matrix:
        go-version: ['1.13','1.14','1.15','1.16','1.17','1.18','1.19']
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./...
